* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fafafa;
  margin: 0 auto;
  width: 80%;
  max-width: 1440px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  width: 35px;
}

.gsc-webResult .gsc-url-top {
  display: none !important;
}

.gsc-table-cell-snippet-close {
  display: none !important;
}

.gs-webResult.gs-result {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}

.gsc-control-cse {
  padding: 0 !important;
}
.gsc-search-button-v2 {
  padding: 0 !important;
}
.gsc-search-button-v2 {
  border-color: #fff !important;
  background-color: #fff !important;
  transform: translateX(-35px) !important;
}

.gsc-search-button-v2 svg {
  fill: #5353ff !important;
}

.gsc-above-wrapper-area-container {
  display: none !important;
}

.gsc-adBlock {
  display: none !important;
}

@media (max-width: 768px) {
  body {
    width: 100%;
    margin: 0 20px;
  }
  .heading {
    gap: 20px;
    font-size: 10px;
    margin-top: 14px;
  }

  .gsst_b {
    font-size: 16px;
    padding: 1px 2px;
    position: relative;
    margin-right: -21px;
    white-space: nowrap;
}


}